* {
    background-color: #836953;
    font-family: "Sinhala MN", serif;
}

.welcome {
    display: flex;
    justify-content: center;
}

.nav_links {
    font-size: 25px;
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center; /* or any alignment you prefer */
}

header {
    display: flex;
    justify-content: space-evenly;
}

header ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}

.nav_links li {
    display: inline-block;
    justify-content: space-between;
    color: white;
    margin-bottom: 25px;
    margin-top: 10px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
    list-style-type: none;
    text-decoration: none;
    padding: 55px;
    color: white;
}

.nav_links li a:hover {
    color: #362312;;
}

div, h1, form, input, p {
    padding: 0;
    margin: 0;
    outline: none;
    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
    color: #362312;
}

h1 {
    padding: 10px 0;
    font-size: 32px;
    font-weight: 300;
    text-align: center;
}

p {
    font-size: 12px;
}

hr {
    color: white;
    opacity: 0.8;
}

#content{
    display:flex;
    flex-direction: column;
    justify-content: center;
}

body {
    display: flex;
    justify-content: center;
}

.main-block {
    max-width: 340px;
    min-height: 460px;
    padding: 10px 0;
    margin: auto;
    border-radius: 5px;
    border: solid 1px white;
    box-shadow: 2px 3px 6px rgba(0,0,0,.50);
    background: #836953;
}

.output-container{
    display:flex;
}

.output{
    width:500px;
}

#forms-container{
    display:flex;
}

form {
    margin: 0 30px;
}

input[type=radio] {
    display: none;
}
label.icon {
    margin: 0;
    border-radius: 5px 0 0 5px;
}
label.radio {
    position: relative;
    display: inline-block;
    padding-top: 4px;
    margin-right: 20px;
    text-indent: 30px;
    overflow: visible;
    cursor: pointer;
}
label.radio:before {
    content: "";
    position: absolute;
    top: 2px;
    left: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #362312;
}
#userName {
    display: inline-block;
    padding: 0;
    margin: 0;
    outline: none;
    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
    color: #362312;
}
#userEmail {
    display: inline-block;
    padding: 0;
    margin: 0;
    outline: none;
    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
    color: #362312;
}
#userFavCafe {
    display: inline-block;
    padding: 0;
    margin: 0;
    outline: none;
    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
    color: #362312;
}
#userID {
    display: inline-block;
    padding: 0;
    margin: 0;
    outline: none;
    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
    color: #362312;
}

label.radio:after {
    content: "";
    position: absolute;
    width: 9px;
    height: 4px;
    top: 8px;
    left: 4px;
    border: 3px solid #fff;
    border-top: none;
    border-right: none;
    transform: rotate(-45deg);
    opacity: 0;
}
input[type=radio]:checked + label:after {
    opacity: 1;
}
input[type=text], input[type=password] {
    width: calc(100% - 57px);
    height: 36px;
    margin: 13px 0 0 -5px;
    padding-left: 10px;
    border-radius: 0 5px 5px 0;
    border: solid 1px #362312;
    box-shadow: 1px 2px 5px rgba(0,0,0,.09);
    background: #fff;
}
input[type=password] {
    margin-bottom: 15px;
    color: #362312;
}
.icon {
    display: inline-block;
    padding: 9.3px 15px;
    box-shadow: 1px 2px 5px rgba(0,0,0,.09);
    background: #362312;
    color: #fff;
    text-align: center;
}
.btn-block {
    margin-top: 10px;
    text-align: center;
}
button {
    width: 100%;
    padding: 10px 0;
    margin: 10px auto;
    border-radius: 5px;
    border: none;
    background: #362312;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
}
button:hover {
    opacity: 0.75;
}

button:active {
    /* Your active state styles here */
    background-color: #362312;
}

#user-main-block {
    max-width: 340px;
    min-height: 460px;
    padding: 10px;
    margin: auto;
    border-radius: 5px;
    border: solid 1px white;
    box-shadow: 2px 3px 6px rgba(0,0,0,.50);
    background: #836953;
}

#userCheck {
    margin: auto;

}