* {
    background-color: #836953;
    font-family: "Sinhala MN", serif;
}

body {
    display: flex;
    flex-direction: column; /* Ensure a vertical flow of header and main */
    align-items: center; /* Center content horizontally */
    background-color: #836953;
}

header {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    border-bottom: 3px solid rgba(255, 255, 255, 0.5);
    border-radius: 3px;
    margin-bottom: 45px;
}

.nav_links {
    font-size: 25px;
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.logo {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}

.welcome {
    display: flex;
    justify-content: center;
    margin-top: 40px; /* Add some top margin to separate from the navigation bar */
    border-bottom: 5px solid #362312; /* Add a white border below the welcome section */
    border-radius: 10px;
}

.quote {
    display: flex;
    justify-content: center;
    font-size: 40px;
    color: #362312;
    margin-top: 35px;
    font-style: italic;
}

.coffee-link {
    color: #362312;
    text-decoration: none;
    cursor: pointer;
}

.coffee-link:hover {
    color: white;
    transition: all 0.3s ease 0s;
}

.introduction {
    display: flex;
    justify-content: center;
    font-size: 25px;
    color: #362312;
    margin-top: 35px;
    font-style: italic;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center; /* or any alignment you prefer */
}


header ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav_links li {
    display: inline-block;
    justify-content: space-between;
    color: white;
    margin-bottom: 15px;
    margin-top: 10px;
    margin-right: 45px;
}

.nav_links li a {
    display: flex;
    transition: all 0.3s ease 0s;
    list-style-type: none;
    text-decoration: none;
    color: white;
    margin-left: 50px; /* Adjust the left margin as needed */
}

.nav_links li a:hover {
    color: #362312;;
}

div, h1, form, input, p {
    padding: 0;
    margin: 0;
    outline: none;
    font-family: "Sinhala MN", sans-serif;
    font-size: 16px;
    color: #362312;
}

h1 {
    padding: 10px 0;
    font-size: 32px;
    font-weight: 300;
    text-align: center;
}

p {
    font-size: 12px;
}

hr {
    color: white;
    opacity: 0.8;
}

#content{
    display:flex;
    flex-direction: column;
    justify-content: center;
}

body {
    display: flex;
    justify-content: center;
}

.main-block {
    max-width: 340px;
    min-height: 460px;
    padding: 10px 0;
    margin: auto;
    border-radius: 5px;
    border: solid 1px white;
    box-shadow: 2px 3px 6px rgba(0,0,0,.50);
    background: #836953;
}

.output-container{
    display:flex;
}

.output{
    width:500px;
}

#forms-container{
    display:flex;
}

form {
    margin: 0 30px;
}

input[type=radio] {
    display: none;
}
label.icon {
    margin: 0;
    border-radius: 5px 0 0 5px;
}
label.radio {
    position: relative;
    display: inline-block;
    padding-top: 4px;
    margin-right: 20px;
    text-indent: 30px;
    overflow: visible;
    cursor: pointer;
}
label.radio:before {
    content: "";
    position: absolute;
    top: 2px;
    left: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #362312;
}
#userName {
    display: inline-block;
    padding: 0;
    margin: 0;
    outline: none;
    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
    color: #362312;
    background-color: white;
}
#userEmail {
    display: inline-block;
    padding: 0;
    margin: 0;
    outline: none;
    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
    color: #362312;
    background-color: white;
}
#userFavCafe {
    display: inline-block;
    padding: 0;
    margin: 0;
    outline: none;
    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
    color: #362312;
    background-color: white;
}
#userID {
    display: inline-block;
    padding: 0;
    margin: 0;
    outline: none;
    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
    color: #362312;
    background-color: white;
}

label.radio:after {
    content: "";
    position: absolute;
    width: 9px;
    height: 4px;
    top: 8px;
    left: 4px;
    border: 3px solid #fff;
    border-top: none;
    border-right: none;
    transform: rotate(-45deg);
    opacity: 0;
}
input[type=radio]:checked + label:after {
    opacity: 1;
}
input[type=text], input[type=password] {
    width: calc(100% - 57px);
    height: 36px;
    margin: 13px 0 0 -5px;
    padding-left: 10px;
    border-radius: 0 5px 5px 0;
    border: solid 1px #362312;
    box-shadow: 1px 2px 5px rgba(0,0,0,.09);
    background: #fff;
}
input[type=password] {
    margin-bottom: 15px;
    color: #362312;
}
.icon {
    display: inline-block;
    padding: 9.3px 15px;
    box-shadow: 1px 2px 5px rgba(0,0,0,.09);
    background: #362312;
    color: #fff;
    text-align: center;
}
.btn-block {
    margin-top: 10px;
    text-align: center;
}
button {
    width: 100%;
    padding: 10px 0;
    margin: 10px auto;
    border-radius: 5px;
    border: none;
    background: #362312;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
}
button:hover {
    opacity: 0.75;
}

button:active {
    /* Your active state styles here */
    background-color: #362312;
}

#user-main-block {
    clear: left;
    display: inline-block;
    max-width: 340px;
    min-height: 460px;
    padding: 10px;
    margin: 0;
    border-radius: 5px;
    border: solid 1px white;
    box-shadow: 2px 3px 6px rgba(0,0,0,.50);
    background: #836953;

}

#userCheck {
    margin: auto;

}

#userInput {

    width: 96%;
    border-radius: 5px;
    margin: auto;
}
#userInput2 {
    width: 96%;
    border-radius: 5px;
    margin: auto;
}

#userNameBox {
    background-color: white;
    border-radius: 5px;
}

#userEmailBox {
    background-color: white;
    border-radius: 5px;
}

#userFavCafeBox {
    background-color: white;
    border-radius: 5px;
}

#userIDBox {
    background-color: white;
    border-radius: 5px;
}

#dropDownSelect {
    background-color: white;
    border-radius: 5px;
}

#list-Main-Block {
    clear: left;
    display: inline-block;
    max-width: 340px;
    min-height: 460px;
    padding: 10px;
    margin: 0;
    border-radius: 5px;
    border: solid 1px white;
    box-shadow: 2px 3px 6px rgba(0,0,0,.50);
    background: #836953;
}

#listChoice1 {
    display: inline;
}

#listChoice2 {
    display: inline;
}

#listChoice3 {
    display: inline;
}

#listChoice4 {
    display: inline;
}

#dropDownSelect {
    color: black;
    width: 32%;
}

#dropChoice1 {
    color: white;
}

#dropChoice2 {
    color: white;
}

#dropChoice3 {
    color: white;
}

#dropChoice4 {
    color: white;
}

#cafe1 {
    display: inline-block;
    font-size: 16px;
    background-color: white;
    height: 25px;
    width: 96%;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 15px;
}



#cafe2 {
    display: inline-block;
    font-size: 16px;
    background-color: white;
    height: 25px;
    width: 96%;
    border-radius: 5px;
    margin: auto;
    text-align: center;
}



#cafe3 {
    display: inline-block;
    font-size: 16px;
    background-color: white;
    height: 25px;
    width: 96%;
    border-radius: 5px;
    margin-top: 15px;
    text-align: center;
}

#cafe4 {
    display: inline-block;
    font-size: 16px;
    background-color: white;
    height: 25px;
    width: 96%;
    border-radius: 5px;
    margin-top: 15px;
    text-align: center;
}

#cafe5 {
    display: inline-block;
    font-size: 16px;
    background-color: white;
    height: 25px;
    width: 96%;
    border-radius: 5px;
    margin-top: 15px;
    text-align: center;
}

#cafe6 {
    display: inline-block;
    font-size: 16px;
    background-color: white;
    height: 25px;
    width: 96%;
    border-radius: 5px;
    margin-top: 15px;
    text-align: center;
}

#cafe7 {
    display: inline-block;
    font-size: 16px;
    background-color: white;
    height: 25px;
    width: 96%;
    border-radius: 5px;
    margin-top: 15px;
    text-align: center;
}

#cafe8 {
    display: inline-block;
    font-size: 16px;
    background-color: white;
    height: 25px;
    width: 96%;
    border-radius: 5px;
    margin-top: 15px;
    text-align: center;
}

#cafe9 {
    display: inline-block;
    font-size: 16px;
    background-color: white;
    height: 25px;
    width: 96%;
    border-radius: 5px;
    margin-top: 15px;
    text-align: center;
}

#cafe10 {
    display: inline-block;
    font-size: 16px;
    background-color: white;
    height: 25px;
    width: 96%;
    border-radius: 5px;
    margin-top: 15px;
    text-align: center;
}

#cafe11 {
    display: inline-block;
    font-size: 16px;
    background-color: white;
    height: 25px;
    width: 96%;
    border-radius: 5px;
    margin-top: 15px;
    text-align: center;
}

#cafe12 {
    display: inline-block;
    font-size: 16px;
    background-color: white;
    height: 25px;
    width: 96%;
    border-radius: 5px;
    margin-top: 15px;
    text-align: center;
}

#cafe13 {
    display: inline-block;
    font-size: 16px;
    background-color: white;
    height: 25px;
    width: 96%;
    border-radius: 5px;
    margin-top: 15px;
    text-align: center;
}

#map-container {
    width: 600px;
    height: 600px; /* Adjust the height as needed */
    background-color: #e0e0e0; /* Set the background color for the map container */
    display: flex;
    justify-content: center;
    align-items: center;
}

#map {
    width: 600px;
    height: 600px;
    background-color: #e0e0e0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#userInfoBox {
    display: none;
}

#dropChoice5 {
    color: white;
}
