body  {
    margin: 0;
    padding: 0;
}

h1 {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 40px;
    font-size: 75px;


}
.btn {
    background: transparent;
    border: none;
    margin: 10px;
    font-size: 70px;
    outline: none;
    color: grey;
    transition: transform 0.2s ease-in-out;
}

.btn.clicked {
    color: red;
    transform: scale(1.2);
}


#message.hidden {
    opacity: 0;
    visibility: hidden;
    color: black;
    font-size: 18px;
    font-weight: bold;
    transition: opacity 0.5s ease-in-out;
}

.visible {
    visibility: visible;
    opacity: 1;

}

.images-section h2 {
    padding: 15px;
    margin-bottom: 0px;
    
}

.img-resize1 {
    flex-wrap: wrap;
    width: 200px;
    height: 150px;
    justify-content: center;
    padding-left: 15px;
    border-radius: 20px;
    margin-bottom: 0px;
}

.img-resize2 {
    flex-wrap: wrap;
    width: 200px;
    height: 150px;
    justify-content: center;

    border-radius: 20px;
    margin-bottom: 0px;
}

.insta-photo {
    flex-wrap: wrap;
    width: 50px;
}
.facebook-photo {
    flex-wrap: wrap;
    width: 50px;
}

.contact-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
}
.opening-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
}




